* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("./background/2753408.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}






