/* CATEGORY LIST */
.CategoryListDiv {
  margin-top: 1rem;
  margin-left: 2vw;
  margin-bottom: 1rem;
  width: 70vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  border-bottom: 2px solid #2864f0;
  padding-bottom: 1rem;
  animation: fade-in 4s ease-in-out both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.CategoryListButton {
  border: none;
  text-shadow: 2px 2px 6px #000000;
  background: transparent;
  border-radius: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}

.CategoryListButton:hover {
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.CategoryListButton:focus {
  outline: 0 !important;
  color: black;
  animation: vibrate-1 0.3s linear infinite both;
}

@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.UndoButton {
  height: 4vh;
  cursor: pointer;
  align-self: center;
}

.UndoButton:active{
  animation: rotate-center 0.2s ease-in-out reverse both;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}



/* CATEGORY LIST */