/* CITY LIST */
.CityListDiv {
  margin-left: 2vw;
  width: 70vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  border-bottom: 2px solid #2864f0;
  padding-bottom: 1rem;
  animation: fade-in 4s ease-in-out both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.CityListButton {
  border: none;
  text-shadow: 2px 2px 6px #000000;
  background: transparent;
  height: max-content;
  border-radius: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
  color: white;
  font-size: 1.4rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.CityListButton:focus {
  outline: 0 !important;
  color: black;
  animation: vibrate-1 0.3s linear infinite both;
}

@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.CityListButton:hover {
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

/* CITY LIST */