/* CLUB LIST */
.ClubListDiv {
  margin-top: 1rem;
  margin-left: 2vw;
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
}

.LogoTextDiv {
  width: 12vw;
  text-align: center;
  margin-bottom: 2rem;
  animation: fade-in 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  margin-left: 1.1rem;
  margin-right: 0.6em;
}

.ClubListLogo {
  border: 2px solid black;
  border-radius: 1rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  animation: roll-in-blurred-left 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes roll-in-blurred-left {
  0% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}

.ClubListLogo:hover {
  opacity: 0.8;
}

.ClubTitle {
  font-size: 0.8rem;
}

/* CLUB LIST */